<!-- <div class="select">
  <label for="videoSource">Video source: </label>
  <select id="videoSource" [formControl]="videoControl">
    <option value="">none</option>
    <option
      *ngFor="let device of deviceOptions; let i = index"
      [value]="device.deviceId"
    >
      {{ device.label || "camera" + i }}
    </option>
  </select>
</div>

<pre>{{ deviceOptions | json }}</pre>
<pre>{{ videoControl.value | json }}</pre>
<video #video id="video" playsinline autoplay></video> -->
<app-scanner></app-scanner>
